<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bowis</title>
    <link rel = "stylesheet" href = "static/css/base.css">
    <link rel = "stylesheet" href = "static/css/header.css">
</head>
<body>
    <div class = "header">
        <div class = "start">
            <div id = menu_btn>
                <div class = "bar"></div>
                <div class = "bar"></div>
                <div class = "bar"></div>
            </div>
            <div class = "title main_title">Bowis</div>
        </div>
        <div class = "end">
            <form id = "search">
                <input type = "text" class = "input" id = "search_input" name = "keyword">
                <div id = "search_btn">
                    <div class = "head"></div>
                    <div class = "leg"></div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>